body{
  background-color: white;
}
#particles-js{
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
