body{
  font-family: 'Roboto', Helvetica,  Verdana;
  background-image: url('http://wallpapercave.com/wp/VFb5jp1.jpg');
  }

  #seccion_inicio{
  background.color: black;

padding-top: 100px;
padding-bottom: 100px;
}
h1,h2,h3,h4,h5,h6{
  color: yellow;
}
#seccion_inicio{
  background-image: url('https://images.alphacoders.com/496/496390.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#seccion_inicio *{
  color: white;
}
#seccion_inicio{
    padding-top: 100px;
}

#seccion_inicio h1{
  font-size: 60px;
  font-weight: lighter;
  text-transform: capitalize;
}
#seccion_inicio h2{
  font-weight: bold;
}
#seccion_inicio img {
  margin-top: 50px;
  align-items: center;
  border-radius: 90px;
  width: 150px;
  height: 150px;
}
#cv_foto{
  border-radius: 90px;
}
#seccion_sobreMi h2,p{
  color: white;
}
#seccion_sobreMi{
  background-image: url('https://images2.alphacoders.com/220/220582.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .88;
  color: white;
  padding: 80px;
  margin: 30px;
  text-align: center;

}
#seccion_hobbies .glyphicon{
  font-size: 50px;
}

#seccion_hobbies{
  background-image: url('http://k46.kn3.net/taringa/1/4/4/C/2/F/arispc/F73.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
#seccion_hobbies span,p,h3{
  padding-left: 50px;
}

#seccion_hobbies h3{
  text-decoration: underline;
  color: black;
}
#seccion_hobbies{
   background-color: #000000;
}
#seccion_hobbies p{
  color: black;;
}

#seccion_habilidades {
  background-image: url('http://www.hdwallpaper.nu/wp-content/uploads/2017/02/alienware-17.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

}
#seccion_habilidades {
  padding-top: 70px;
  padding-bottom: 70px;
}
#seccion_habilidades{
  margin-top: 0;
  margin-bottom: 0;
}
#seccion_social {
    background-image: image('C:\Users\curso\Downloads/botones-teclado-ordenador-tecnologia-yopg');
    padding: 80px;
}
#seccion_social ul li{
  display: inline;
  }
  #seccion_social .fa{
    box-shadow: 0 0 30px white;
  }
  #seccion_social .fa{
    border: 2px white solid;
    border-radius: 50%;
    font-size: 40px;
    padding: 10px 15px;
    margin-right: 10px;
  }
  #seccion_social .fa-tiwtter{
    padding: 10px 13px;
  }
  #seccion_social .fa-facebook{
    padding: 10px 20px;
  }
  #seccion_social .fa-google-plus{
    padding: 10px 7px;
  }
  #seccion_social ul li a:hover{
    text-decoration: none;
    color: gray;
  }
  #seccion_social ul li a{
    color: white;
  }

  #seccion_social  ul li a:hover i{
    background: #2D373D;
  }
  #seccion_social ul{
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
    padding-top: 200px;
    position: absolute;
    padding-left: 0
  }
  #seccion_social .btn{
    border-radius: 50px;
    box-shadow: 0px 2px 5px #787878;
    padding: 20px 40px;

  }
  #seccion_social .btn:hover{
    background: #4b4b4b;
  }

#seccion_contacto{
  background-image: url('https://images8.alphacoders.com/403/403441.gif');

}
#seccion_contacto input{
  background-color: rgba(255, 255, 255, 0.5);
}


#seccion_contacto {
  padding-top: 20px;
  padding-bottom: 0px;
}

#seccion_contacto .glyphicon{
  font-size: 50px;
  font-size: 20px;
}
#seccion_contacto{
  color: white;
}
#seccion_contacto input,
#seccion_contacto textarea{
  border-bottom: 2px aqua solid;
  color: white;
}
#seccion_contacto button{
  border-radius: 10px;
  background: aqua;
}
#seccion_contacto .form-control {
  border-radius: 10px;
  background-color: blue;
}


#seccion_skills .col-xs-12 > div{
  background-color: white;
  opacity: .70;
  padding: 10px;
  color: black;
  border-radius: 15px;
}
#seccion_skills{
  background-image: url('https://userscontent2.emaze.com/images/c1b2176b-b79c-4415-9d92-164ccf5fe8cb/f885688b7ae495160f1d98bd1380e0a5.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  #lolo{
    background-image: url('http://www.eveboo.com/wp-content/uploads/2013/03/ram_memory_hd_widescreen_wallpapers_1680x1050.jpeg');
  }
#seccion_skills span{
  align-items: center;
    width: 80px;
    color: black;
}

#seccion_skills h3{
  margin-top: 0;
  color:black;;
}

#seccion_skills {
  text-align: center;
  padding: 50px;
  padding-bottom: 80px;
}
#seccion_skills p{
  text-align: center;
  color: black;
}

#seccion_skills ul,li{
  list-style: none;
}

#seccion_skills {
  color: black;
}
#copyrigth {
  background-color: aqua;
  color:white;
}
#pa{
  padding-bottom: 50px;
}
#seccion_estudios img{
  align: center;
  height: 100px !important;
  width: 80px !important;
}
#seccion_estudios i{
  color: Green;
}

#seccion_estudios{
  background-color: white;
  margin-bottom: 60px;
  opacity: .70;
  border-radius: 25px;
  padding: 20px;

}
#seccion_estudios h2{
  color:black;
}

#seccion_estudios p{
  text-align: center;
  color: black;
}
iframe{
  width: 400px;
  height: 250px;

}


.navbar{
  margin-bottom: 0;

}

.accordion{
  max-width: 600px;
  margin: 4rem auto;
  width: 90%;
  background: #f4f4f4;
}

.accordion__title {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem 1.5rem;
  background: #5B5F97;
  color: white;
  cursor: pointer;
  transition: .3s ease;
  margin: 0;
}
.accordion__title:hover{
  background: #484b77;
}
.accordion__body{
  display: none;
  padding: 1rem 1.5rem 2rem 1.5rem;
  color:gray;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 500;
}
.accordion__body--open {
  display: block;
}
.carousel-indicators li{
  display: none;
}
